h1 {

    color: rgb(97, 48, 150);
    text-decoration: underline; font-weight: bold;
} 

}

.box {

    border: 1px solid black;

    width: 50px;
    height: 50px;
    padding:10px;
    color: white;
    margin-top: 50px;
    margin-right: 50px;
    position: relative;
    float: left;

}

.banner {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  
}

.box>img {

position: absolute;
bottom: 55px;
left: 50px;

}

body {
  width: 100%;
  height: auto;


}

#red    {
    
    
    background-color: rgb(216,66,49);
    
}
#orange {
     
      background-color: rgb(234,174,51);
    
}  
#yellow {
     
      background-color: rgb(252,247,51);
    
}
#green {


    clear: left;     
    background-color: rgb(87,140,5);
    
}
#blue {
     
      background-color: rgb(35,74,251);
    
}
#violet {
     
      background-color: violet;
    
}
